.list-container {
    position: relative;
    height: 100%;
    overflow-y: auto;
}

.mat-table {
    width: 100%;
}

.mat-column-edit {
    text-align: end;
    width: 80px;
}

.material-icons:first-child {
    margin-right: 24px;
}
