.mat-dialog-content.delete {
    width: 300px;
    height: 100%;
}

.mat-dialog-content h3 {
    margin-top: 0;
}

.mat-dialog-actions {
    margin-bottom: 0;
}

.mat-form-field {
    margin-left: 20px;
}