.content-container {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: calc(100vh - 100px);
    padding-top: 100px;
}

.content-container-list {
    border-right: 1px solid grey;
    flex-grow: 1;
    padding: 30px;
}

.content-container-create {
    flex-grow: 1;
    padding: 30px;
}

.spinner-wrapper {
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    background: rgba(211, 211, 211, 0.5);;
    width: 100%;
    height: calc(100% - 100px);
    top: 100px;
    left: 0;
}

.spinner-wrapper.invisible {
    display: flex;
}
